AUTOPSY_VERSION=4.23.0
AUTOPSY_ZIP=
SLEUTHKIT_VERSION=4.15.0
AUTOPSY_NOVNC_PORT=6080
AUTOPSY_VNC_PORT=5900
AUTOPSY_SHM_SIZE=2gb
AUTOPSY_RESOLUTION=1600x900
DISPLAY_WIDTH=1920
DISPLAY_HEIGHT=1080
DISPLAY_DEPTH=24
VNC_PASSWORD=
TZ=UTC
